{% block javascripts %}
      {% block importmap %}{{ importmap('app') }}{% endblock %}
{% endblock %}

<div class="navbar bg-base-100">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl" href="{{ path('app_homepage') }}">IMT Estate</a>
    </div>
    <div class="flex-none gap-2">
        {% if is_granted('ROLE_ADMIN')%}
            <a href="{{ path('app_listing') }}" class="btn btn-primary">Add listing</a>
        {% endif %}
        <div class="form-control">
            <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
        </div>
        {% if app.user %}
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img src="{{ asset(app.user.profileImage) }}" alt="Profile Image" />
                </div>
            </div>
            <ul
                    tabindex="0"
                    class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                <li>
                    <a href="{{ path('app_profile') }}">
                        Profile
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('admin') }}">Admin</a>
                {% endif %}
                </li>
                <li><a>Settings</a></li>
                <li><a href="{{ path('app_logout') }}">Logout</a></li>
            </ul>
        </div>
        {% endif %}
        {% if not app.user %}
        <a href="{{ path('app_login') }}" class="btn btn-primary">Login</a>
        {% endif %}
    </div>
</div>

