{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/add-listing.css') }}">
{% endblock %}

{% block body %}
    <div class="add-listing-container">
        <h1 class="add-listing-title">Add Listing</h1>
        {{ form_start(form, {'attr': {'class': 'add-listing-form'}}) }}
        {% for field in form %}
            {% if field.vars.name != 'features' %}
                <div class="form-group">
                    {% if field.vars.block_prefixes[1] == 'text' %}
                        {{ form_row(field, {
                            'attr': {
                                'class': 'add-listing-field',
                                'placeholder': field.vars.label|trans
                            },
                            'label_attr': {
                                'class': 'add-listing-label'
                            }
                        }) }}
                    {% elseif field.vars.block_prefixes[1] == 'textarea' %}
                        {{ form_row(field, {
                            'attr': {
                                'class': 'add-listing-field',
                                'placeholder': field.vars.label|trans
                            },
                            'label_attr': {
                                'class': 'add-listing-label'
                            }
                        }) }}
                    {% elseif field.vars.block_prefixes[1] == 'choice' %}
                        {{ form_row(field, {
                            'attr': {
                                'class': 'add-listing-field'
                            },
                            'label_attr': {
                                'class': 'add-listing-label'
                            }
                        }) }}
                    {% elseif field.vars.block_prefixes[1] == 'checkbox' %}
                        {{ form_row(field, {
                            'attr': {
                                'class': 'add-listing-field'
                            },
                            'label_attr': {
                                'class': 'add-listing-label'
                            }
                        }) }}
                    {% elseif field.vars.block_prefixes[1] == 'radio' %}
                        {{ form_row(field, {
                            'attr': {
                                'class': 'add-listing-field'
                            },
                            'label_attr': {
                                'class': 'add-listing-label'
                            }
                        }) }}
                    {% else %}
                        {{ form_row(field, {
                            'attr': {
                                'class': 'add-listing-field'
                            },
                            'label_attr': {
                                'class': 'add-listing-label'
                            }
                        }) }}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        <div class="form-group filter-section">
            <h3 class="add-listing-label">Property Features</h3>
            <div class="feature-options">
                <div class="features-checkboxes">
                    {% for feature in form.features %}
                        {{ form_widget(feature) }}
                        {{ form_label(feature) }}
                    {% endfor %}
                </div>
            </div>
        </div>

        <button type="submit" class="add-listing-button">Submit</button>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}