{% extends 'base.html.twig' %}

{% block title %}Property Listings{% endblock %}

{% block body %}
    <h1>Property Listings</h1>

    {% if noPropertiesFound %}
        <p>No listings found</p>
    {% else %}
        {% for property in properties %}
            <div class="listing">
                <h2>{{ property.name }}</h2>
                <p>Price: {{ property.price }}</p>
                <p>Type: {{ property.listingType.value }}</p>
                <p>City: {{ property.cityId.name }}</p>
                <p>Region: {{ property.regionId.name }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
